/* Corps de page */
/*body {
  font-family: Arial, sans-serif;
  background-image: url('images/image de fond.jpg')no-repeat center center fixed;
=======
body {
  font-family: Arial, sans-serif;
  background-image: url('images/background.jpg');
>>>>>>> c0857f196fc79fec92d65bc85f71a97e6bc1e4a6
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}*/

body {
  background-color: red;
}

  color: #fff; /* texte en blanc */
}

section, main {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5); /* fond semi-transparent */
  border-radius: 10px;
  color: #fff; /* texte en blanc */
}


/*body {
  background-color: red;
}*

/*body {
  font-family: Arial, sans-serif;
  background: url('images/porsche.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333;
  line-height: 1.6;
}*/



header {
  background: #222;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

section, main {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

.project img {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #eee;
}



  color: #000; /* <- forcer le texte en noir */
}

a {
  color: #00f0ff; /* turquoise clair */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #ffffff; /* blanc au survol */
}
